body {
    font-family: Arial, sans-serif;
    background-color: #a3bcd1;
    color: #333;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #004d99;;
    font-family:Georgia, 'Times New Roman', Times, serif
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #004d99;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #003366;
}

h3 {
    text-align: center;
    color: #004d99;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
